<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trung tâm ngoại ngữ TVV</title>

    <!-- Bootstrap -->

    <link href="~/Content/Client/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Client/css/animate.css">
    <link rel="stylesheet" href="~/Content/Client/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Client/css/jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Client/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Client/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Client/css/set1.css" />
    <link href="~/Content/Client/css/overwrite.css" rel="stylesheet">
    <link href="~/Content/Client/css/style.css" rel="stylesheet">

    <!-- Chèn css js nivoslide -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>


    <link href="~/Content/Client/nivo-slider/nivo-slider/nivo-slider.css" rel="stylesheet" />
    <script src="~/Content/Client/nivo-slider/nivo-slider/jquery.nivo.slider.pack.js"></script>
    <script src="~/Content/Client/nivo-slider/nivo-slider/jquery.nivo.slider.js"></script>

    <script src="~/Content/Client/js/jquery-2.1.1.min.js"></script>
    <script src="~/Content/Client/js/bootstrap.min.js"></script>
    <script src="~/Content/Client/js/wow.min.js"></script>
    <script src="~/Content/Client/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/Client/js/jquery.isotope.min.js"></script>
    <script src="~/Content/Client/js/jquery.bxslider.min.js"></script>
    <script src="~/Content/Client/js/fliplightbox.min.js" type="text/javascript"></script>
    <script src="~/Content/Client/js/functions.js"></script>

    <link href="~/Content/Client/css/Slideshow.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
                    <span class="sr-only">Trung tâm ngoại ngữ TVV</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index"><span>TVV</span></a>
            </div>

            <div class="navbar-collapse collapse">

                <div class="menu">
                    <ul class="nav nav-tabs" role="tablist">

                        @{ Html.RenderAction("Menu", "Home");}

                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="row">

        
    </div>

        <div class="slideshow-container">

            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="~/DataFeed/Anh/images.jpg" style="width:100%"/>

            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="~/DataFeed/Anh/article_1507297329_59d78831213229.33518990.jpeg" style="width:100%">

            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="~/DataFeed/Anh/Captura-de-pantalla-2017-06-08-a-las-19.17.50.png" style="width:100%" />

            </div>

        </div>
        <br>

        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>

    <script>
            var slideIndex = 0;
            showSlides();

            function showSlides() {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("dot");
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slideIndex++;
                if (slideIndex > slides.length) { slideIndex = 1 }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
                setTimeout(showSlides, 5000); // Change image every 2 seconds
            }
    </script>

    <div class="row">

            @RenderBody()
    </div>


    <footer>
        <div class="inner-footer">
            <div class="container">

                <div class="row">

                    <div class="col-md-6 f-about">
                        <div >
                            <h3 class="widgetheading">Thông tin liện hệ</h3>
                            <p>
                                -273 An Dương Vương - Phường 3 - Quận 5 - Thành phố Hồ Chí Minh<br />
                                -VTT Trương Định 47 - 49 Trương Định, P.6, Q.3028 7306 9966<br />
                                -VTT Ba Tháng Hai 612A Ba Tháng Hai, P.14, Q.10028 7300 7147<br />
                                -VTT Nguyễn Văn Cừ 165 Nguyễn Văn Cừ, P.2, Q.5028 7300 7638<br />
                                -VTT Phan Đăng Lưu 195 - 197 Phan Đăng Lưu, P.1, Q.Phú Nhuận028 7300 3226<br />
                                

                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 f-contact">
                        <h3 class="widgetheading">Bản Đồ</h3>
                        <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.9158781953467!2d106.68163591072708!3d10.760395074414829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1b7c3ed289%3A0xa06651894598e488!2zxJDhuqFpIEjhu41jIFPDoGkgR8Oybg!5e0!3m2!1svi!2s!4v1522918599300" width="600" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></p>
                    </div>
                </div>

            </div>
        </div>


        <div class="last-div">
            <div class="container">
                <div class="row">
                    <div class="copyright">
                        © 2014 eNno Multi-purpose theme | <a target="_blank" href="http://bootstraptaste.com">Bootstraptaste</a>
                    </div>
                    <!--
                        All links in the footer should remain intact.
                        Licenseing information is available at: http://bootstraptaste.com/license/
                        You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=eNno
                    -->
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <ul class="social-network">
                        <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook fa-1x"></i></a></li>
                        <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter fa-1x"></i></a></li>
                        <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin fa-1x"></i></a></li>
                        <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest fa-1x"></i></a></li>
                        <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus fa-1x"></i></a></li>
                    </ul>
                </div>
            </div>

            <a href="" class="scrollup" style="background-color: lightskyblue"><i class="fa fa-chevron-up"></i></a>


        </div>
    </footer>

    <script type="text/javascript">$('.portfolio').flipLightBox()</script>


    @*Script Chạy nivoslider*@
    @*<script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider({
                controlNav: false,
                pauseOnHover: true,
                prevText: 'Prev',
                nextText: 'Next',
                randomStart: true,
            });
        });
    </script>*@


    @RenderSection("jsFooter", required: false)
</body>
</html>