
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                <li>
                    <a href="~/Admin/Home">Trang tổng quát</a>
                </li>
                <li>
                    <a href="~/Admin/User"> Học viên </a>
                </li>
                <li>
                    <a href="#">Chương trình đào tạo<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="~/Admin/ChuongTrinhDaoTao/Index">Khoá học</a>
                        </li>
                        <li>
                            <a href="~/Admin/Class/Index">Lớp học</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="~/Admin/NewsEvent/Index">Tin tức và sự kiện</a>

                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="~/Admin/Feedback/Index">Phản hồi</a>
                </li>
                <li>
                    <a href="#">Quảng cáo</a>
                </li>
                <li>
                    <a href="#">Cấu hình</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
