
@{
    ViewBag.Title = "GioiThieu";
}
<br />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">

                <p style="background-image: url(/DataFeed/Anh/trung-tam-ngoai-ngu-o-ha-noi.jpg); height: 300px; "></p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h3>
                    SỰ ĐẦU TƯ THÔNG MINH XÓA BỎ RÀO CẢN NGÔN NGỮ DỄ DÀNG VỚI TVV
                </h3>
                <p style="font-size: 16px; color: #000">
                    TVV là thương hiệu vững chắc về đào tạo tiếng Anh theo phong cách Mỹ với mô hình học tập ưu việt và độc quyền, cùng đội ngũ giáo viên bản xứ 100%; AMA cam kết giúp học viên hoạch định một hành trình học tiếng Anh vững chắc và mang đến nhiều cơ hội khởi đầu tốt đẹp cho tương lai
                </p>
            </div>
        </div>
        <hr />
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div>
                <h3>
                    PHƯƠNG PHÁP DẠY ƯU VIỆT
                </h3>
                <div style="font-size: 16px">
                    <p>
                        Hợp nhất việc học với cuộc sống hàng ngày giúp học viên cách sử dụng ngoại ngữ như ngôn ngữ thứ hai hơn là tập trung vào văn phạm.
                    </p>
                    <ul>
                        <li>Không còn dịch từ tiếng nước ngoài sang tiếng Mẹ đẻ để hiểu.</li>
                        <li>Không còn dịch từ tiếng Mẹ đẻ sang tiếng nước ngoài khi giao tiếp.</li>
                        <li>Cơ hội luyện tập thường xuyên các từ vựng, cấu trúc đã học với mô hình giao tiếp trực tiếp và thường xuyên với người bản ngữ Học viên tự học với sự hỗ trợ kèm cặp của giáo viên nước ngoài và Việt Nam.</li>
                    </ul>
                    <p>
                        Cơ hội luyện tập thường xuyên các từ vựng, cấu trúc đã học với mô hình giao tiếp trực tiếp và thường xuyên với người bản ngữ Học viên tự học với sự hỗ trợ kèm cặp của giáo viên nước ngoài và Việt Nam.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <p style="background-image: url(/DataFeed/Anh/hoc-tieng-anh-giao-tiep-ky-nang-giao-tiep.jpg); height: 400px; width:auto;"></p>
            </div>
        </div>
        <hr />
    </div>
</div>

<br />

<h3 class="text-center">
    TẠI SAO LẠI CHỌN TVV
</h3>

<hr />

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-md-4">
                <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.4s">
                    <h4>Toàn diện về giáo viên</h4>
                    <div class="icon">
                        <i class="fa fa-group fa-3x"></i>
                    </div>
                    <p>Tất cả giáo viên bản xứ, giáo viên người Việt đều có chuyên môn và bằng cấp giảng dạy Quốc tế.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.0s">
                    <h4>Toàn diện về chương trình học</h4>
                    <div class="icon">
                        <i class="fa fa-pencil-square fa-3x"></i>
                    </div>
                    <p>Chương trình học tại AMA là sự kết hợp hoàn hảo của quá trình hợp tác giữa các chuyên gia nước ngoài, cung cấp cho học viên chương trình và giáo trình học chuẩn Quốc tế.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.6s">
                    <h4>Toàn diện về cơ sở vật chất</h4>
                    <div class="icon">
                        <i class="fa fa-desktop fa-3x"></i>
                    </div>
                    <p>Phòng học và các trang thiết bị hỗ trợ việc học được xây dựng theo chuẩn Quốc tế. Học viên được tận hưởng môi trường học tập chất lượng cao nhất.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-md-4">
                <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.4s">
                    <h4>Toàn diện về Nghe – Nói – Đọc – Viết</h4>
                    <div class="icon">
                        <i class="fa fa-spinner fa-3x"></i>
                    </div>
                    <p>Tham gia các khóa học tại AMA, học viên được đảm bảo khả năng sử dụng tiếng Anh một cách thuần thục và trôi chảy trong tất cả các kỹ năng cần thiết.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.0s">
                    <h4>Toàn diện về kỹ năng mềm</h4>
                    <div class="icon">
                        <i class="fa fa-thumbs-up fa-3x"></i>
                    </div>
                    <p>Tập trung nhiều trong tiếng Anh ứng dụng, AMA hướng học viên thực hành tiếng Anh theo dự án, phát triển và hoàn thiện kỹ năng mềm, sẵn sàng sử dụng tiếng Anh mọi lúc mọi nơi.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.6s">
                    <h4>Toàn diện về điểm thi</h4>
                    <div class="icon">
                        <i class="fa fa-archive  fa-3x"></i>
                    </div>
                    <p>Đảm bảo cho các học viên một tương lai tươi sáng, AMA cam kết điểm thi Cambridge: 12/15 khiên Starters, Movers, Flyers; Đậu KET, PET; IELTS đến 7.0; TOEIC đến 800.</p>
                </div>
            </div>
        </div>
    </div>
</div>