@{
    ViewBag.Title = "Home Page";
}

    <div class="container" style="background-color: rgba(219, 29, 66, 1); width: 100%">
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <div class="text-center">
                    <h2 style="color: white">
                        TẠI SAO CHỌN TVV</h2\>
                        <hr />
                        <p style="color: white; font-size: 24px;">
                            Đã có ai nói với bạn như thế này chưa: học tiếng anh giao tiếp giống hệt một đứa trẻ tập nói, nó tập kỹ năng nghe đầu tiên bằng cách nghe từ người lớn, sau đó mới học kỹ năng nói hay gọi là nhại lại.
                        </p>

                        <p style="color: white; font-size: 24px;">
                            Nhưng chúng ta lại không được học như thế. Bắt đầu chúng ta đã bị nhét vào đầu một đống ngữ pháp: danh từ, động từ, tính từ rồi hiện tại đơn, hiện tại tiếp diễn… đó là nguyên nhân mà chúng ta mất khả năng nghe từ đầu.
                            Tiếp theo là việc chúng ta tiếp cận ngay với việc phát âm sai của nhiều giáo viên. Chúng ta thường đánh vần tiếng Anh giống hệt tiếng Việt.

                            Điều đặc biệt nữa, chúng ta không có môi trường để được thực hành nhiều nên chủ yếu sẽ viết nhiều hơn nói.
                            Tất cả những điều trên đã xây nên cho ta 1 bức tường vô hình ngăn cản chúng ta khi muốn bắt đầu lại với tiếng anh giao tiếp.
                            Vậy thì, bây giờ chúng ta phải làm gì?
                        </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <h2>Tin Tức Và Sự Kiện</h2>
            </div>
            <hr style="border-top-width: 10px; border-top-color: red">
        </div>
        <div class="row">
            <div class="box">
                <div class="col-md-4">
                    <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.4s">
                        <h4>Responsive</h4>
                        <div class="icon">
                            <i class="fa fa-heart-o fa-3x"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu libero</p>
                        <div class="ficon">
                            <a href="#" class="btn btn-default" role="button">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.0s">
                        <h4>Multi Purpose</h4>
                        <div class="icon">
                            <i class="fa fa-desktop fa-3x"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu libero</p>
                        <div class="ficon">
                            <a href="#" class="btn btn-default" role="button">Read more</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.6s">
                        <h4>Easy Customize</h4>
                        <div class="icon">
                            <i class="fa fa-location-arrow fa-3x"></i>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu libero</p>
                        <div class="ficon">
                            <a href="#" class="btn btn-default" role="button">Read more</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center">
                    <h2>CÁC LOẠI KHÓA HỌC TẠI TVV</h2>
                </div>
                <hr style="border-top-width: 10px; border-top-color: red" />
            </div>
        </div>
    </div>

    <div class="content">
        <div class="grid">

            <figure class="effect-zoe">
                <img src="~/Content/Client/img/25.jpg" alt="img25" />
                <figcaption>
                    <h4>Tiếng anh mầm non từ 4-6 tuổi</h4>
                    <p class="icon-links">
                        <a href="#"><span class="icon-heart"></span></a>
                        <a href="#"><span class="icon-eye"></span></a>
                        <a href="#"><span class="icon-paper-clip"></span></a>
                    </p>
                    <p class="description">
                        Dạy tiếng Anh trên nền tảng phần mềm tương tác giúp buổi học trở nên sinh động và thú vị
                    </p>
                </figcaption>
            </figure>

            <figure class="effect-zoe">
                <img src="~/Content/Client/img/26.jpg" alt="img26" />
                <figcaption>
                    <h4>Tiếng anh thiếu nhi từ 6-12 tuổi</h4>
                    <p class="icon-links">
                        <a href="#"><span class="icon-heart"></span></a>
                        <a href="#"><span class="icon-eye"></span></a>
                        <a href="#"><span class="icon-paper-clip"></span></a>
                    </p>
                    <p class="description">
                        Dạy tiếng Anh trên nền tảng phần mềm tương tác giúp buổi học trở nên sinh động và thú vị
                    </p>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="content">
        <div class="grid">
            <figure class="effect-zoe">
                <img src="~/Content/Client/img/27.jpg" alt="img27"/>
                <figcaption>
                    <h4>Tiếng anh thiếu niên từ 12-16 tuổi</h4>
                    <p class="icon-links">
                        <a href="#"><span class="icon-heart"></span></a>
                        <a href="#"><span class="icon-eye"></span></a>
                        <a href="#"><span class="icon-paper-clip"></span></a>
                    </p>
                    <p class="description">
                        Dạy tiếng Anh trên nền tảng phần mềm tương tác giúp buổi học trở nên sinh động và thú vị
                    </p>
                </figcaption>
            </figure>
            <figure class="effect-zoe">
                <img src="~/Content/Client/img/30.jpg" alt="img30" />
                <figcaption>
                    <h4>Tiếng anh người lớn</h4>
                    <p class="icon-links">
                        <a href="#"><span class="icon-heart"></span></a>
                        <a href="#"><span class="icon-eye"></span></a>
                        <a href="#"><span class="icon-paper-clip"></span></a>
                    </p>
                    <p class="description">
                        Dạy tiếng Anh trên nền tảng phần mềm tương tác giúp buổi học trở nên sinh động và thú vị
                    </p>
                </figcaption>
            </figure>
        </div>
    </div>